
    <!--Bottom Footer-->
    <footer>
        <div class="footerContainer">
            <p>Contact Email: <a href="mailto:milad.ahmadi@ontariotechu.net">milad.ahmadi@ontariotechu.net</a></p>
            <p>&copy; 2024 By Milad Ahmadi.</p>
        </div>
    </footer>
    
   
</body>
</html>
</html>