<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Charset and CSS Stylesheets -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

    <!-- Page Title -->
    <title>Milad Ahmadi Portfolio</title>

    <!-- Responsive CSS for Different Screen Sizes -->
    <link rel="stylesheet" href="mobile.css" media="only screen and (max-width: 600px)">
    <link rel="stylesheet" href="tablet.css" media="only screen and (min-width: 601px) and (max-width: 768px)">
    <link rel="stylesheet" href="desktop.css" media="only screen and (min-width: 769px)">
</head>

<body>
    <!-- Bootstrap Navbar -->
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <!-- Logo and Brand Name -->
                <a class="navbar-brand" href="#">
                    <h1><span>Milad</span> <span>Ahmadi</span></h1>
                </a>

                <!-- Toggle Button for Mobile View -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Links -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>