<!DOCTYPE html>
</html lang="en">


<head>

    <!--Insert Charset and css Stylesheet-->
    <meta charset = "UTF-8">
    <link rel = "stylesheet" href= "/stylesheet/style.css" />
    <link rel = "stylesheet" href= "/stylesheet/bootstrap.min.css" />
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

    <!--Create title-->
    <title>Milad Ahmadi Portfolio</title>

    <!--Viewport For Mobile Screens-->
    <link rel="stylesheet" href ="mobile.css" media="only screen and (max-width: 600px)">

    <!--Viewport For Tablet Screens-->
    <link rel="stylesheet" href = tablet.css media ="only screen and (min-width: 601px) and (max-width: 768px)">

    <!--Viewport For Laptop/Desktop Screens-->
    <link rel="stylesheet" href = desktop.css media = "only screen and (min-width: 769px)">
</head>


<!--Start of Body-->
<body>
   
    <!--Give header ID-->
    <header id="header">
       
        <!--Creating Header-->
        <div class="header container">
            <div class="navBar">
       
                <!--Setting logo as My Name-->
                <div class="logo">
                    <h1><span>Milad</span> <span>Ahmadi</span></h1>
                </div>
            </div>
        </div>
    </header>
   